

.specific-location{
  display: flex;
}

.specific-location_info{
  width: 25vw;
  margin-right: 20px;
}

p{
  color: #D2D2CC;
}

.specific-location_residents{
  width: 60vw;
  margin-left: 20px;
}

.residentNames{
  color:#D2D2CC;
}

.residentNames:hover{
  color: aqua;
  cursor: pointer;
}


@media (max-width: 800px){
  .specific-location{
    flex-direction: column;
  }

  .specific-location_residents{
    margin:15px 0px;
    width: auto;
  }
}
