<app-usuario></app-usuario>
<app-navegacion></app-navegacion>

<!-- PATH -->
<div>
  <section class="ruta-acceso d-flex justify-content-center mb-3">
    <input class="ruta-acceso__input form-control opacity-50" type="text" value="Home / Personajes" readonly>
  </section>
</div>

<!-- CARDS -->
<div class="row w-100 ps-2 mt-5">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center columna mb-3"
       *ngFor="let episode of arrayEpisodes">

    <div class="card mb-0 h-100" style="width: 15rem;" (click)="showSpecificEpisode(episode)">
      <div class="card-body">
        <h5 class="card-title">Episodio{{episode.id}}</h5>
        <hr class="text-secondary">
        <h6 class="card-text">{{episode.name}}</h6>
        <p class="card-text mb-0">{{episode.episode}}</p>
        <p class="card-text">{{episode.air_date}}</p>
      </div>
    </div>

  </div>
</div>

<!-- BUTTONS AND PAGINATION -->
<div class="d-flex justify-content-center justify-content-evenly mt-3 mb-5">
  <button type="button"
          class="btn btn-outline-warning"
          (click)="changePreviousPage()">Anterior</button>

  <button type="button"
          class="btn btn-outline-warning"
          (click)="changeNextPage()">Siguiente</button>
</div>

