/* You can add global styles to this file, and also import other style files */

/*--------------app rick y morty estilos generales-----------*/


html{
  background-color: #3E576C;
}

.index_{
  background-color: #3E576C;

}


.buscador__input{
 width: 50%;
 margin-right: 5px;
 border: none;
}

.buscador__btn{
 border: 1px solid #fff;
}
.buscador__btn:hover{
 background-color: #7991A4;
 cursor: pointer;
}

@media (max-width: 670px){
 .buscador{
  display: flex;
  flex-direction: column;
 }
 .buscador__btn, .buscador__input{
  width: 95%;
  margin-left: 5px;
  margin-top: 12px;
 }
}
